{{#section 'title'}}
<title>Upgrade</title>
{{/section}}

<div class="card shadow">
    <h4 class="card-header">
        Categories
    </h4>

    {{#if this.empty}}
    <div class="card-body">
        <p class="card-text">
            Không có dữ liệu.
        </p>
    </div>
    {{else}}

    <table class="table table-hover">
        <thead class="">
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Username</th>
                        <th scope="col" class="text-center">Check</th>
                    </tr>
                </thead>

        <tbody>
            <form action="upgrade/post" method="POST">
                {{#each users}}
                <tr>
                    <th scope="row" class="text-center">{{ UserID }}</th>
                    <td>{{ Username }}</td>
                    <td class="text-center"><input type="checkbox" name="UserID" value="{{UserID}}"></td>
                </tr>
                {{/each}}
                <tr>
                    <td></td>
                    <td></td>
                    <td class="text-center"><button class="btn btn-primary" type="submit">Upgrade</button></td>
                </tr>
            </form>


        </tbody>
    </table>
    {{/if}}

    <div class="card-footer text-muted">
        Footer
    </div>
</div>

