	<!-- Register -->

    <div class="page-section mb-5 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-5">
                        <!-- Login Form s-->
                        <form action="#" >
                            <div class="login-form">
                                <h4 class="login-title">Đăng Nhập</h4>
                                <div class="row">
                                    <div class="col-md-12 col-12 mb-5">
                                        <label>Email*</label>
                                        <input class="mb-0" type="email" placeholder="Email Address">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label>Mật khẩu</label>
                                        <input class="mb-0" type="password" placeholder="Password">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="check-box d-inline-block ml-0 ml-md-2 mt-1">
                                            <input type="checkbox" id="remember_me">
                                            <label for="remember_me">Nhớ tài khoản</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-1 mb-5 text-left text-md-right">
                                        <a href="#">Quên mật khẩu?</a>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="register-button mt-0">Đăng nhập</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                        <form action="#">
                            <div class="login-form">
                                <h4 class="login-title">Tạo tài khoản</h4>
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-5">
                                        <label>Họ</label>
                                        <input class="mb-0" type="text" placeholder="First Name">
                                    </div>
                                    <div class="col-md-6 col-12 mb-5">
                                        <label>Tên</label>
                                        <input class="mb-0" type="text" placeholder="Last Name">
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label>Email*</label>
                                        <input class="mb-0" type="email" placeholder="Email Address">
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <label>Mật khẩu</label>
                                        <input class="mb-0" type="password" placeholder="Password">
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <label>Xác nhận mật khẩu</label>
                                        <input class="mb-0" type="password" placeholder="Confirm Password">
                                    </div>
                                    <div class="col-12">
                                        <button class="register-button mt-0">Đăng ký</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>