/*----------------------------------------*/
/* 6.5 Li's Login Register
/*----------------------------------------*/

*
{
    font-family: 'Muli', serif;
}


.login-title {
	font-size: 20px;
	line-height: 23px;
	text-transform: capitalize;
	font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Muli', serif;
}

.login-form {
  background-color: #ffffff;
  padding: 30px;
  -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1); }

.login-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 500;
    text-transform: capitalize; }
.login-form .nice-select {
    width: 100%;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 0;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    height: 45px;
    color: #7a7a7a;
    margin-bottom: 15px; }
.login-form .nice-select::after {
      width: 6px;
      height: 6px;
      border-width: 1px;
      right: 20px;
      border-color: #7a7a7a; }
.login-form .nice-select .current {
      color: #7a7a7a;
      display: block;
      line-height: 23px; }
.login-form .nice-select .list {
      width: 100%; }
.login-form input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 0;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 15px; }
    .login-form input[type="checkbox"] {
      width: auto; }
  .login-form .check-box {
    float: left;
    margin-right: 70px; }
    .login-form .check-box:last-child {
      margin-right: 0; }
    .login-form .check-box input[type="checkbox"] {
      display: none; }
.login-form .check-box input[type="checkbox"] + label {
        position: relative;
        padding-left: 30px;
        line-height: 20px;
        font-size: 14px;
        font-weight: 400;
        color: #363f4d;
        margin: 0; }
.login-form .check-box input[type="checkbox"] + label::before {
          position: absolute;
          left: 0;
          top: 0;
          width: 20px;
          height: 20px;
          display: block;
          border: 2px solid #999999;
          content: "";
          -webkit-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
.login-form .check-box input[type="checkbox"] + label::after {
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          content: "\f00c";
          font-family: Fontawesome;
          font-size: 12px;
          line-height: 20px;
          opacity: 0;
          color: #363f4d;
          width: 20px;
          text-align: center;
          -webkit-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
.login-form .check-box input[type="checkbox"]:checked + label::before {
        border: 2px solid #363f4d; }
.login-form .check-box input[type="checkbox"]:checked + label::after {
        opacity: 1; }

/*-- Place Order --*/
.register-button {
	display: block;
	margin-top: 40px;
	width: 140px;
	border-radius: 0;
	height: 36px;
	border: none;
	line-height: 24px;
	padding: 6px 20px;
	float: left;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #0e8ce4;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
}
.register-button:hover {
	background: #0b46a5;
}