/*----------------------------------------*/
/* 6.3 Li's Wishlist Page
/*----------------------------------------*/
.table-content table {
	background: #fff none repeat scroll 0 0;
	border-color: #ebebeb;
	border-radius: 0;
	border-style: solid;
	border-width: 1px 0 0 1px;
	text-align: center;
	width: 100%;
	margin-bottom: 0;
}
.table-content table th,
.table-content table td {
	border-bottom: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
}
.table-content table th {
	border-top: medium none;
	font-size: 15px;
	text-transform: capitalize;
	padding: 20px 10px;
	text-align: center;
	font-weight: 500;
	vertical-align: middle;
	white-space: nowrap;
}
.table-content table td {
	border-top: medium none;
	padding: 20px 10px;
	vertical-align: middle;
	font-size: 13px;
}
.table-content table td.li-product-remove {
	font-size: 20px;
}
.li-product-remove > a > i {
	color: #242424; 
	transition: all 0.3s ease-in-out;
}
.li-product-remove > a:hover i {
	color: #fed700;
}
.table-content table td.li-product-name {
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
}
.table-content table td.li-product-price {
	font-size: 16px;
	font-weight: 700;
}
.table-content table td.li-product-stock-status span.in-stock,
.table-content table td.li-product-stock-status span.out-stock {
	color: #fed700;
	font-size: 12px;
	text-transform: capitalize;
}
.table-content table td.li-product-stock-status span.out-stock {
	color: #EB3E32;
}
.table-content table td.li-product-add-cart a {
	font-size: 14px;
	text-transform: uppercase;
	background: #242424;
	color: #fff;
	padding: 10px 20px;
	font-weight: 700;
	display: inline-block;
}
@media only screen and (max-width: 767px) {
	.table-content table td.li-product-add-cart a {
		font-size: 10px;
		padding: 7px 7px;
	}
}
.table-content table td.li-product-add-cart a:hover {
	background: #fed700 none repeat scroll 0 0;
	color: #fff;
}
/*----------------------------------------*/
/* 6.4 Li's Checkout Page
/*----------------------------------------*/
.coupon-accordion h3 {
	background-color: #f7f6f7;
	border-top: 3px solid #fed700;
	color: #515151;
	font-size: 14px;
	font-weight: 400;
	list-style: outside none none;
	margin: 0 0 30px;
	padding: 16px 32px 16px 56px;
	position: relative;
	width: auto;
	text-transform: none;
}
.coupon-accordion h3::before {
	color: #fed700;
	content: "\f133";
	display: inline-block;
	font-family: "fontawesome";
	left: 24px;
	position: absolute;
	top: 16px;
}
.coupon-accordion span {
	color: #6f6f6f;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
	text-transform: none;
}
.coupon-accordion span:hover {
	color: #fed700;
}
.coupon-content {
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
	display: none;
	padding: 20px;
}
.coupon-info p {
	margin-bottom: 0;
}
.coupon-info p.form-row-first label,
.coupon-info p.form-row-last label {
	display: block;
}
.coupon-info p.form-row-first label span.required,
.coupon-info p.form-row-last label span.required {
	color: red;
	font-weight: 700;
	font-size: 14px;
}
.coupon-info p.form-row-first input,
.coupon-info p.form-row-last input {
	border: 1px solid #e5e5e5;
	height: 36px;
	margin: 0 0 14px;
	border-radius: 0;
	max-width: 100%;
	padding: 0 0 0 10px;
	width: 370px;
	background-color: transparent;
}
.coupon-info p.form-row input[type="submit"] {
	background: #252525 none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	float: left;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	margin-right: 15px;
	padding: 0 30px;
	text-shadow: none;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	white-space: nowrap;
	width: inherit;
}
.coupon-info p.form-row input[type="submit"]:hover,
p.checkout-coupon input[type="submit"]:hover {
	background: #fed700;
}
.form-row>label {
	margin-top: 7px;
}
.coupon-info p.form-row input[type="checkbox"] {
	height: inherit;
	position: relative;
	top: 2px;
	width: inherit;
}
p.lost-password {
	margin-top: 15px;
}
p.lost-password a {
	color: #6f6f6f;
}
p.lost-password a:hover {
	color: #fed700;
}
.coupon-checkout-content {
	margin-bottom: 30px;
	display: none;
}
p.checkout-coupon input[type="text"] {
	background-color: transparent;
	border: 1px solid #ddd;
	border-radius: 0;
	height: 36px;
	padding-left: 10px;
	width: 170px;
}
p.checkout-coupon input[type="submit"] {
	background: #333 none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	color: #fff;
	height: 36px;
	cursor: pointer;
	margin-left: 6px;
	padding: 5px 10px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: inherit;
}
.coupon-info p.form-row input[type="submit"]:hover,
p.checkout-coupon input[type="submit"]:hover {
	background: #fed700;
}
.checkbox-form h3 {
	border-bottom: 1px solid #e5e5e5;
	font-size: 25px;
	margin: 0 0 25px;
	padding-bottom: 10px;
	text-transform: uppercase;
	width: 100%;
}
.country-select {
	margin-bottom: 25px;
}
.checkout-form-list {
	margin-bottom: 30px;
}
.country-select label,
.checkout-form-list label {
	color: #333;
	margin: 0 0 5px;
	display: block;
}
.country-select label span.required,
.checkout-form-list label span.required {
	color: #fed700;
	display: inline-block;
	font-size: 24px;
	line-height: 16px;
	position: relative;
	top: 5px;
}
.checkout-form-list input[type="text"],
.checkout-form-list input[type="password"],
.checkout-form-list input[type="email"] {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #e5e5e5;
	border-radius: 0;
	height: 42px;
	width: 100%;
	padding: 0 0 0 10px;
}
.checkout-form-list input[type="checkbox"] {
	display: inline-block;
	height: inherit;
	margin-right: 10px;
	position: relative;
	top: 2px;
	width: inherit;
}
.create-acc label {
	color: #333;
	display: inline-block;
}
.ship-different-title h3 label {
	display: inline-block;
	margin-right: 20px;
	font-size: 25px;
	color: #363636;
}
.ship-different-title input {
	height: inherit;
	line-height: normal;
	margin: 4px 0 0;
	position: relative;
	top: 1px;
	width: auto;
}
.order-notes textarea {
	background-color: transparent;
	border: 1px solid #ddd;
	height: 90px;
	padding: 15px;
	width: 100%;
}
.create-account,
#ship-box-info {
	display: none;
}
.your-order {
	background: #f2f2f2 none repeat scroll 0 0;
	padding: 30px 40px 45px;
}
.your-order h3 {
	border-bottom: 1px solid #d8d8d8;
	font-size: 25px;
	margin: 0 0 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	width: 100%;
}
.your-order-table table {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	width: 100%;
}
thead {
	background-color: #f6f6f6;
}
.your-order-table table th {
	border-top: medium none;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	width: 250px;
}
.your-order-table table th,
.your-order-table table td {
	border-bottom: 1px solid #d8d8d8;
	border-right: medium none;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	padding: 15px 0;
	text-align: center;
}
.your-order-table table tr.cart_item:hover {
	background: #F9F9F9;
}
.your-order-table table .order-total td {
	border-bottom: medium none;
}
.your-order-table table tr.order-total td span {
	color: #464646;
	font-size: 20px;
}
.your-order-table table .order-total th {
	border-bottom: medium none;
	font-size: 18px;
}
.payment-method {
	margin-top: 40px;
}
.payment-accordion .card {
	border: 0;
	border-radius: 0;
	background: #f2f2f2;
}
.payment-accordion .card-header {
	padding: 0;
	margin-bottom: 0;
	background-color: #f2f2f2;
	border-bottom: 0;
}
.payment-accordion .card-body {
	padding: 0;
}
.payment-accordion .panel.panel-default {
	margin-bottom: 20px;
}
.payment-accordion h5.panel-title {
	color: #444;
	font-weight: 600;
	font-size: 18px;
	cursor: pointer;
}
.payment-accordion h5.panel-title>a:hover {
	color: #fed700 !important;
}
.payment-accordion .card-body>p {
	color: #515151;
}
.order-button-payment input {
	background: #434343 none repeat scroll 0 0;
	border: medium none;
	color: #fff;
	font-size: 17px;
	font-weight: 600;
	height: 50px;
	margin: 20px 0 0;
	padding: 0;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 100%;
	border: 1px solid transparent;
	cursor: pointer;
}
.order-button-payment input:hover {
	background: #fed700 none repeat scroll 0 0;
}