{{#section 'title'}}
<title>Account</title>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/styles/account.css">
{{/section}}

<!-- User -->
<div class="userpage-content col-9">

    <div class="title breadcrumb justify-content-center">Đổi Mật Khẩu</div>
    <div class="row mt-5 justify-content-center">
        <div class="info_form col-8">
            {{#if err_message}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{err_message}}
            </div>
            {{/if}}
            <form method="POST">
                <div class="item">
                    <div class="head-item w-50">Mật Khẩu Hiện Tại</div>
                    <div class="content-item">
                        <input type="password" name="Old_Password" id="Old_Password" required>
                    </div>
                </div>
                <div class="item">
                    <div class="head-item w-50">Mật Khẩu Mới</div>
                    <div class="content-item">
                        <input type="password" name="Raw_Password" id="Raw_Password" required>
                    </div>
                </div>
                <div class="item">
                    <div class="head-item w-50">Xác Nhận Mật Khẩu</div>
                    <div class="content-item">
                        <input type="password" id="confirm_password" required>
                    </div>
                </div>
                <div class="submit">
                    <button class="submit-button mt-0" type="submit">Xác Nhận</button>
                </div>
            </form>
        </div>
    </div>

</div>

<script>
    var password = document.getElementById("Raw_Password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Vui lòng nhập lại đúng mật khẩu");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>