{{#section 'title'}}
	<title>Register</title>	
{{/section}}

{{#section 'css'}}
	<link rel="stylesheet" type="text/css" href="/styles/product_styles.css">
	<link rel="stylesheet" type="text/css" href="/styles/product_responsive.css">
	<link rel="stylesheet" type="text/css" href="/styles/register.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{{/section}}
{{!-- ?onload=onloadCallback&render=explicit --}}
{{#section 'js'}}

	<script src="/js/product_custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
        $('#dob').datetimepicker({
            // format: 'd/m/Y H:i'
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
        });
    </script>
    
    {{!-- <script type="text/javascript">
        var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : '6LdMCMsUAAAAAMkA1uten2qWwR45hNlQHaDZQ7Pk'
        });
      };
    </script> --}}
{{/section}}	

<!-- View Account -->
<div class="page-section mb-5 mt-5">
        <div class="container">
            <div class="row">
                {{!-- Register --}}
                <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                {{#if err_message}}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{err_message}}
                    </div>
                {{/if}}
                    <form id="RegisterSubmit" method="POST">
                        <div class="login-form">
                            <h4 class="login-title">Tạo tài khoản</h4>
                            <div class="row">
                                <div class="col-md-12 mb-5">
                                    <label>Tên đăng nhập</label>
                                    <input  class="mb-0 form-control" type="text" id="Username" name="Username" placeholder="luonganh" pattern="[a-zA-Z0-9-]+"  oninvalid="setCustomValidity('Tên đăng nhập phải là kí tự thường và số')"  required>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <label>Mật khẩu</label>
                                    <input class="mb-0" type="password" id="Raw_Password" name="Raw_Password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" oninvalid="setCustomValidity('Mật khẩu phải có 8 ký tự, bao gồm ký tự hoa, thường và số')" required>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <label>Xác nhận mật khẩu</label>
                                    <input class="mb-0" type="password" placeholder="Confirm Password" id="confirm_password" required>
                                </div>
                            </div>
                            <h4 class="login-title">Thông Tin Tài Khoản</h4>
                            <div class="row">
                                <div class="col-md-6 col-12 mb-5">
                                    <label>Họ</label>
                                    <input class="mb-0" type="text" id="Lastname" name="Lastname"  placeholder="Nguyễn Hữu" required>
                                </div>
                                <div class="col-md-6 col-12 mb-5">
                                    <label>Tên</label>
                                    <input class="mb-0" type="text" id="Firstname" name="Firstname"  placeholder="Lương Anh" required>
                                </div>
                                <div class="col-md-12 mb-5">
                                    <label>Email</label>
                                    <input class="mb-0" type="email" id="Email" name="Email" placeholder="nguyenhuuluonganh@gmail.com" required>
                                </div>
                                 <div class="col-md-12 mb-5">
                                    <label>Số Điện Thoại</label>
                                    <input class="mb-0" type="tel" id="Phone" name="Phone" pattern="[0-9]+" maxlength="10" placeholder="0123456789" oninvalid="setCustomValidity('Số điện thoại phải gồm 10 chữ số')" required>
                                </div>
                                <div class="col-md-12 mb-5">
                                    <label>Địa Chỉ</label>
                                    <input class="mb-0" type="text" id="Address" name="Address" placeholder="Bà Rịa - Vũng Tàu" required>
                                </div>
                                <div class="col-md-12 mb-5">
                                    <label>Ngày Sinh</label>
                                    <input class="mb-0" type="text" id="dob" name="Date_of_Birth" placeholder="05/05/1999" required>
                                </div>
                                <div class="col-md-12 mb-5">
                                    <div class="g-recaptcha" data-sitekey="6LdMCMsUAAAAAMkA1uten2qWwR45hNlQHaDZQ7Pk"></div>
                                </div>

                                <div class="col-12">
                                    <button class="register-button mt-0" id="register" type="submit">Đăng ký</button>
                                </div>
                                

                            </div>
                            
                    </form>

                   
                </div>
            </div>
        </div>
</div>

<script>
    var password = document.getElementById("Raw_Password"), confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Mật khẩu chưa đúng. Vui lòng nhập lại!");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    var phone = document.getElementById("Phone");
    

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;



</script>